*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.contact{
    width: 700px;
    height: 500px;
    background-color: beige;
    margin: 10px auto;
    padding: 25px 75px;
    position: relative;
    
}
.heading{
    text-align: center;
    margin-bottom: 20px;

}
.contact_form{
    width: 50%;
    background-color: azure;
    box-shadow: 4px 4px 4px #383434;
    padding: 20px 25px;
}
.contact_us{
    display: inline-block;
    position: absolute;
    top: 66px;
    left: 355px;
    background-color: #0a5cc7;
    padding: 20px;
}
#submit{
    background-color: #0a5cc7;
    margin: 10px 0;
    padding: 3px;
    border-radius: 5px;
}
h3{
    margin-bottom: 10px;
    font-weight: 500;
}
.user{
    width: 48%;
}
.user-2{
    width: 96%;
}
.gap{
    padding: 5px;
   
    margin-bottom: 5px;
    border: 1px solid #424040; 
    border-radius: 5px;
}
.contact_us h3, li{
    color: #fffff7;
    
}
.bold{
    font-size: 18px;
    font-weight: bold;
}
li{
    margin: 40px 0;
    padding: 7px 10px;
    list-style: none;
    overflow: hidden;
}
p{
    width: 250px;
}